{
    "presets": [
        "es2015",
        "vue",
        "stage-2"
    ],
    "ignore": [],
    "plugins": [
        "transform-es2015-destructuring",
        "transform-remove-strict-mode"
    ]
}