@import '~iview/src/styles/index.less'; // 引入ui库样式表

@import './var.less';
@import './reset.less';
@import './fonts.css';

@import './search-form.less';
@import './clearfix.less';
@import './cursor.less';
@import './float.less';
@import './ellipsis.less';
@import './face.less';

@import './picker.less';

.logger-statistics {
    padding: 0 20px;
    width: 100%;
    height: 100%;
}

.ivu-modal-confirm {
    .ivu-icon-help-circled {
        color: #ffc000;
        &:before {
            content: "\F35B"
        }
    }
    .ivu-btn-text {
        border: 1px solid @border-color-base;
    }
}
.ivu-input:hover {
    border-color: @input-select-border-color;
}

.ivu-select-selection:hover {
    border-color: @input-select-border-color;
}
.ivu-select-visible .ivu-select-selection,
.ivu-input:focus {
    border-color: @input-select-border-color;
    box-shadow: unset;
}

.ivu-btn {
    padding: 4px 15px;
    &.ivu-btn-default {
        background-color: @select-item-bg;
        color: @gray-color-medium;
        &:hover {
            border-color: @select-item-bg;
        }
        &:focus {
            box-shadow: none;
        }
    }
}

.ivu-tabs-nav .ivu-tabs-tab:hover {
    color: @primary-color;
}
