.search-form {
    position: relative;
    font-size: 0;
    line-height: 32px;
    padding-top: 16px;
    .ivu-form-inline .ivu-form-item {
        vertical-align: middle;
        margin: 0 24px 0 0;
        max-width: 360px;
        min-width: 226px;
        &.form-item-checkbox {
            width: auto;
            min-width: auto;
            color: @gray-color-medium;
            .ivu-checkbox {
                margin-right: 4px;
            }
        }
        .ivu-form-item-label {
            padding-top: 11px;
            // color: @gray-color-light;
            color: #333;
        }
        .ivu-form-item-content {
            line-height: 32px;
            height: 32px;
        }
        &.search-btn {
            // position: absolute;
            // right: 0;
            width: auto;
            min-width: auto;
            // top: 11px;
            text-align: right;
            margin-right: 0;
            button {
                // margin-left: 10px;
            }
        }
        &.export-btn {
            min-width: 68px;
        }
    }
    .select-date {
        width: 230px;
        margin-right: 0;
    }
}
