@primary-color: #EE2223;
@border-color-base: #ddd; // 重置iview border color
@text-color: #111;  // 重置iview text color
@btn-disable-color: #888;
@error-color: #EE2223; 
@input-select-border-color: @border-color-base;
@select-item-bg: #e4e4e4;

@min-screnn-width: 1200px;
@min-container-width: 1050px;
@max-menu-width: 200px;
@min-menu-width: 150px;

// @gray
@gray-color-light: #888;
@gray-color-medium: #555;
@gray-color-dark: #111;
@gray-color-simple: #666;
@gray-color-normal: #888;
@gray-color-elip: #eeeeee;

// @white
@white-color: #ffffff;
@white-color-title: #f5f5f5;
@white-color-light: #f8f8f8;
@white-color-dark: #f2f2f2;
@white-color-elip: #f0f4f6;

// 菜单颜色变量
@menu-border-color: #e2e2e2;
@menu-bg-color: #f7f8f9;
@menu-hover-bg-color: #f3f3f3; 
@menu-title-color: @gray-color-medium;
@menu-hover-color: #fff;


// 收藏点赞颜色变量
@like-color: #F66F66;
@collect-color: #ffdb66;

// 边框颜色
@border-color: #ddd;
@border-color-dark: #ddd;

@orange-color:rgb(255, 181, 94);

// box-shadow
@box-shadow: rgba(0,0,0,.1);

// 模板
@drag-border-color: #f8ce7c;
@drag-bg-color: rgba(255,241,81,.2);
@drag-close-color: #FF6E6E;
