@primary-color: #31d99b; 
@error-color: #fd838a; 
@disabled-color: #cccccc; 

// @gray
@gray-color-light: #999999;
@gray-color-medium: #666666;
@gray-color-dark: #333333;
@gray-color-normal: #cccccc;
@gray-color-elip: #eeeeee;

// @white
@white-color: #ffffff;
@white-color-lighter: #f5f5f5;
@white-color-light: #f7f7f7;


// 菜单颜色变量
@menu-border-color: #e2e2e2;
@menu-bg-color: #f7f8f9;
@menu-hover-color: rgba(15,208,132,.1); 
@menu-title-color: @gray-color-medium;
@menu-color: #fff;


// 收藏点赞颜色变量
@like-color: #F66F66;
@collect-color: #ffdb66;
